<form action="/" method="post">
    correo:<br>
    <input type="text" name="correo">
    <br>
    Contraseña:<br>
    <input type="password" name="pass">
    <br>
    <br>
    <input type="submit" value="Submit">
</form>

<p>{{error}}</p>
